### FEPX Configuration File

## Material Parameters

    number_of_phases 1

    phase 1

    crystal_type BCC
    m 0.1d0
    gammadot_0 0.001d0
    h_0 230.0d0
    g_0 SET
    g_s0 60.0d0
    n 1.0d0
    c11 237e3
    c12 128e3
    c44 60e3

## Deformation History

    def_control_by uniaxial_strain_target

    number_of_strain_steps 26

    target_strain 0.00142857 1 print_data
    target_strain 0.00571429 1 print_data
    target_strain 0.00714286 1 print_data
    target_strain 0.00857143 1 print_data
    target_strain 0.01 1 print_data
    target_strain 0.01142857 1 print_data
    target_strain 0.01571429 1 print_data
    target_strain 0.01714286 1 print_data
    target_strain 0.01857143 1 print_data
    target_strain 0.02 1 print_data
    target_strain 0.02142857 1 print_data
    target_strain 0.02571429 1 print_data
    target_strain 0.02714286 1 print_data
    target_strain 0.02857143 1 print_data
    target_strain 0.03 1 print_data
    target_strain 0.03142857 1 print_data
    target_strain 0.03571429 1 print_data
    target_strain 0.03714286 1 print_data
    target_strain 0.03857143 1 print_data
    target_strain 0.04 1 print_data
    target_strain 0.04142857 1 print_data
    target_strain 0.04285714 1 print_data
    target_strain 0.04428571 1 print_data
    target_strain 0.04571429 1 print_data
    target_strain 0.04714286 1 print_data
    target_strain 0.04857143 1 print_data

## Boundary Condition

    boundary_conditions uniaxial_minimal

    loading_direction Z
    loading_face Z_MAX

    strain_rate 1e-2

## Printing Results

    print coo
    print forces
    print stress
    print strain
    print ori
    print stress-eq
    print strain-eq
